<nav id="topbar">

    <div class="left">
        <h1 id="topbar-title">The NEWSletter</h1>
    </div>

    <div class="options right">
        <ul>
            <li class="option"><a href="/">Home</a></li>
            <li class="option"><a href="/news">Notícias</a></li>
            <li class="option"><a href="/write-new">Escreva sua notícia</a></li>
        </ul>
    </div>

</nav>