<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>

    <link rel="stylesheet" href="styles/variables.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Partials styles -->
    <link rel="stylesheet" href="/styles/partials/topbar.css">

    <link rel="stylesheet" href="home.css">

</head>
<body>
    <%- include ('./partials/topbar.ejs')%>

    <div class="centered">
        <h1 style="position: absolute; top: 34vh; font-weight: 200;">
            As melhores notícias na palma da sua mão.
        </h1>
    </div>

    <div class="centered">
        <h2 style="position: absolute; top: 47vh; color: #C4C4C4; margin-top: 5px; font-weight: 200;">
            Fique informado!
        </h2>
    </div>

</body>
</html>
