<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The latest news</title>

    <link rel="stylesheet" href="styles/variables.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Partials styles -->
    <link rel="stylesheet" href="/styles/partials/topbar.css">

    <!-- <link rel="stylesheet" href="/styles/news.css"> -->
</head>
<body>

    <%- include('./partials/topbar.ejs') %>

    <div id="news" style="margin-top: 50%">

    </div>

    <script src="/scripts/getNews.js"></script>
    <script src="/scripts/showNews.js"></script>
    
</body>
</html>