#new {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    width: 100%;
}

#new-title {
    font-weight: 500;
    text-align: center;
}

#new-content {
    white-space: pre-wrap;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    max-width: 50%;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 30px;
}
