#topbar {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    border-bottom: 1px solid #C4C4C4;
    width: 100vw;
    max-width: 100%;
    height: 75px;
}

#topbar-title-container {
    margin-right: auto;
}

#topbar-title {
    margin-left: 25px;
}

.options {
    margin-right: 25px;
    margin-left: auto;
}

.option {
    display: inline-block;
    list-style: none;
    margin-left: 25px;
}

#mobile-menu-btn {
    display: none; 
}

#mobile-menu-btn > img {
    display: block;
    margin: auto;
}

#top-bar-mobile {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    visibility: hidden;
    transition: all 200ms;
    width: 80vw;
    max-width: 100%;
    height: 100vh;
}

.mobile-option {
    list-style: none;
    padding-top: 30px;
    padding-left: 15px;
    border-bottom: 2px solid #ad241a;
    height: 40px;
}

.mobile-option > a {
    color: #FFFFFF;
}

@media (max-width: 640px) {
    .options {
        display: none;
    }

    #mobile-menu-btn {
        display: flex;
        align-items: center;
        margin-right: 25px;
        margin-left: auto;
    }  
}